* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

:root {
  --primary-color: #04aa6d;
  --secondary-color: rgb(5, 5, 5);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 8;
  background: #fff;
  width: 100%;
}

nav #logo a {
  text-decoration: none;
}

nav #logo a .logo {
  color: var(--secondary-color);
}

nav #logo a {
  color: var(--primary-color);
  font-size: 2.5rem;
  padding-left: 1.4rem;
}

nav #signup {
  outline: none;
  border: none;
}

nav #signup a {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

/* Signup and signin forms */

/* Full-width input fields */
.formContainer input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.formContainer input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.clearfix button {
  background-color: var(--primary-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.formContainer {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.have-account {
  text-align: center;
}

#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  background-image: url("../image/burger.jpg");
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tag {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

#showcase .showcase-container {
  position: relative;
  width: 100%;
}

#showcase .showcase-container .showcase-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
}

.input-field {
  width: 20rem;
  display: flex;
}

#map {
  background: white;
  color: var(--secondary-color);
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

#showcase .showcase-container .showcase-content .s-location {
  border: none;
  outline: none;
  width: 100%;
}

#showcase .showcase-container .showcase-content .search {
  position: relative;
}

#showcase .showcase-container .showcase-content .search-btn {
  border: none;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.card-section .container {
  display: grid;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.card-section .container h2 {
  display: flex;
  font-size: 2rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.card-section .card-container {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-section .card-container .card {
  display: grid;
  justify-content: center;
  padding: 1rem;
  width: 15rem;
  background: rgb(233, 231, 231);
  overflow: hidden;
  margin-top: 1rem;
  grid-gap: 1rem;
}

.card-section .card-container .card .img {
  width: 13rem;
  height: 14rem;
}

.card-section .card-container .card .img-1 {
  background: url("../image/chinese_food.jpeg") no-repeat center center/cover;
}

.card-section .card-container .card .img-2 {
  background: url("../image/burgers.jpeg") no-repeat center center/cover;
}

.card-section .card-container .card .img-3 {
  background: url("../image/tandoori_roti.jpeg") no-repeat center center/cover;
}

.card-section .card-container .card .img-4 {
    background: url("../image/pizza-1.jpeg") no-repeat center center/cover;
}

.card-section .card-container .card .img-5 {
    background: url("../image/pizza-2.jpeg") no-repeat center center/cover;
}

.card-section .card-container .card .img-6 {
    background: url("../image/pizza-3.jpeg") no-repeat center center/cover;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-burger {
  background: rgb(209, 94, 94);
}
.category-chinese {
  background: rgb(231, 20, 20);
}
.category-indian {
  background: rgb(34, 119, 230);
}
.category-pizza {
  background: rgb(44, 199, 44);
}

#text {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#what .container .card-container {
  display: flex;
  flex-wrap: wrap;
}

#what .container .card-container .image-card {
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

#what .container .card-container .image-card img {
  border-radius: 50%;
  width: 8rem;
  height: 9rem;
}

#what .text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 1rem 0;
}

.grid-container {
  display: grid;
}

#view {
  display: flex;
  justify-content: flex-end;
}

#view > a {
  padding: 1.6rem;
  text-decoration: underline;
  color: black;
}

.footer {
  background-color: #000000;
  margin-top: 1.5rem;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.footer ul li {
  padding: 2rem 0;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

/*Media Query*/
@media only screen and (max-width: 768px) {
  h2 {
    display: flex;
    justify-content: space-around;
  }

  #showcase .showcase-container .showcase-content .search {
    width: 80%;
  }

  #showcase .showcase-container .showcase-content h1 {
    font-size: 2rem;
  }

  .footer ul {
    flex-direction: column;
    text-align: center;
  }
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
